/*
#f0eceb
#729f98
#283018
#aa863a
*/
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0px 0px 10px 0px;
}

.inline {
  display: inline !important;
}

header {
  display: block;
  height: 50px;
  background: #729f98;
  min-width: 100%;
  padding: 0px 10px;
  font-size: 2em;
}

.input-label {
  display: block;
  padding-bottom: 10px;
  padding-top: 20px;
}

.checkout-form {
  margin: 0 auto;
}

.progress-bar {
  height: 50px;
  width: 50%;
  margin: 0 auto;
  font-size: 0;
  margin-top: 20px;
}

.eql-w {
  display: inline-block;
  box-sizing: border-box;
  height: 50px;
  width: 25%;
  font-size: 15px;
  padding: 10px 20px;
  background: #aa863a;
}

.eql-w.active {
  background: #f0eceb;
}


form {
  box-sizing: border-box;
  width: 50%;
  background: #f0eceb;
  margin: 0 auto;
  padding: 30px;
  border-radius: 5px;
  margin-bottom: 40px;
}

input {
  width: 120px;
  padding: 10px 20px;
  border-radius: 3px;
  border: 0;
}

.submit-btn {
  display: block;
  margin-top: 20px;
  /*color: #abc;*/
  background: #abc;
}

.submit-btn:hover {
  background: #89a;
}

/*@media screen and (max-width: 650px) {
  header {
    font-size: 1.5em;
  }

  .progress-bar {
    display: none;
  }

  section.form {
    padding-top: 50px;
  }
}

@media screen and (max-width: 450px) {
  .company-page {
    display: none;
  }

  .company-name {
    display: block;
    width: 230px;
    margin-left: auto;
    margin-right: auto;
  }

  header {
    padding: 0px;
  }
}

@media screen and (min-width: 451px) {
  section.form {
    font-size: 2em;
  }

  .company-name {
    display: inline;
  }
}

@media screen and (min-width: 651px) {
  section.form {
    padding-top: 100px;
  }
}

section {
  padding: 0px 10px;
}

label {
  display: block;
  margin-bottom: 1em;
}

.company-page {
  float: right;
  margin-right: 20px;
}


section.form, section.order-review{
  display: block;
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
}

section.form {
  /*font-size: 2em;*/
}

section.form input {
  display: block;
  font-size: 1em;
}

.cc-warning {
  font-size: 0.5em;
  margin-bottom: 1em;
}

.your-order {
  border: 1px solid;
  max-width: 100%;
}

tr.headings {
  font-weight: bold;
}

tr.total {
  font-style: italic;
}

td {
  padding: 10px;
  border: 1px solid;
}

tr:nth-child(even) {
  background-color: #eee;
}

.check-correct {
  margin-top: 10px;
}*/